body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}
header {
    text-align: center;
}
section {
    margin-bottom: 20px;
}
.dark-theme {
    background-color: #333;
    color: #f4f4f4;
}
